/*==================================
=            App Bottom            =
==================================*/


.app-bottom {
	position: relative;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 2.9rem 0;
	overflow-x: hidden;

	@media (min-height: 450px) and (min-width: 650px) {
		height: 40vh;
		padding: 0;
	}

	@media (min-height: 540px) and (min-width: 650px) {
		height: 35vh;
	}

	@media (min-height: 670px) and (min-width: 650px) {
		height: 30vh;
	}					
}