/*===============================
=            App Top            =
===============================*/


.app-top {
	background: #FFDC69;
	height: auto;
	background-image: url('../images/app-top-default-day.svg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	color: #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
	overflow-x: hidden;
	
	@include breakpoint(450px, min-height) {
		height: 60vh;
	}		

	@include breakpoint(540px, min-height) {
		height: 65vh;
	}	

	@include breakpoint(670px, min-height) {
		height: 70vh;
	}

	&.app-top--testing {

	}

	svg {
		width: 30rem;
		height: 30rem;
		margin-bottom: -6.5rem;
		margin-top: -4rem;		

		path, ellipse {
			fill: #000;
		}
	}
}

.app-top--is-day {

}

.app-top--is-night {
	background-image: url('../images/app-top-default-night.svg');
	//background-image: url('../images/app-top-night.svg');
	color: #fff;

	svg path, svg ellipse {
		fill: #fff;
	}
}

// Weather Conditions

.app-top__weather-conditions {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


.app-top--is-night .drop {
	opacity: 0.2;
}


.drop {
	background: linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,.8) 100%);
	width:2px;
	height:20px;
	position: absolute;
	bottom:200px;
	animation: fall 0.6s linear infinite;
	opacity: 0.5;

 	 &.drop--light {
 	 	height: 50px;
	}

 	 &.drop--heavy {
 	 	height: 75px;
	}

 	 &.drop--very-heavy {
 	 	height: 100px;
	}		
  
}

/* animate the drops*/
@keyframes fall {
	to {margin-top:900px;}
}