/*===============================
=            App Top            =
===============================*/


.app-top {
	background: #FFDC69;
	height: auto;
	background-image: url('../images/app-top-default-day.svg');
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	color: #000;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
	overflow-x: hidden;
	
	@include breakpoint(450px, min-height) {
		height: 60vh;
	}		

	@include breakpoint(540px, min-height) {
		height: 65vh;
	}	

	@include breakpoint(670px, min-height) {
		height: 70vh;
	}

	&.app-top--testing {

	}

	svg {
		width: 30rem;
		height: 30rem;
		margin-bottom: -6.5rem;
		margin-top: -4rem;		

		path, ellipse {
			fill: #000;
		}
	}
}

.app-top--is-day {

}

.app-top--is-night {
	background-image: url('../images/app-top-default-night.svg');
	//background-image: url('../images/app-top-night.svg');
	color: #fff;

	svg path, svg ellipse {
		fill: #fff;
	}
}