/*==================================
=            Typography            =
==================================*/



/*----------  Defaults  ----------*/

html {
	font-size: 10px;

	@include breakpoint($xx-large) { font-size: 12px; }

	@include breakpoint($xxx-large) { font-size: 13px; }

}

body {
	@include font-size(17px);
	
	line-height: 1.5em;
	font-weight: 400;
}



/*----------  Headings  ----------*/

@for $i from 1 through 6 {
	
	h#{$i} {
		font-weight: normal;
		font-family: $headline;
		line-height: 1.2em;
		margin-bottom: 0;
		margin-top: 0;
	}

}

h1 {
	@include font-size($h1);

	font-weight: 700;
	line-height: 1em;
}

h2 {
	@include font-size($h2);

	text-transform: uppercase;
}

h3 { @include font-size($h3); }

h4 { @include font-size($h4); }

h5 { @include font-size($h5); }

h6 { @include font-size($h6); }



/*----------  Links  ----------*/

a {
	color: $theme-color;
	transition: color 0.3s ease-out;
	text-decoration: none;

	&:hover {
		color: darken($theme-color, 10%);
		transition: color 0.3s ease-in;
	}

}

p {
	margin-top: 0;
	margin-bottom: 0;
}