/*===============================
=            Buttons            =
===============================*/



.btn {
	outline: none;
	-webkit-appearance: none;
	background: $theme-color;
	color: $white;
	border-radius: 5px;
	transition: all 0.15s ease-out;
	padding: 1rem 1.5rem;
	display: inline-block;
	cursor: pointer;

	&:hover {
		background: darken($theme-color, 10%);
		transition: all 0.15s ease-in;
		color: $white;
	}

	&.hollow {

	}

	&.active {

	}

	&.disabled {

	}

}

.btn.primary {
	
	&.hollow {

	}
}

.btn.secondary {

	&.hollow {
		
	}
}