/*=============================================
=            Day of // top section            =
=============================================*/


.day-of {
	max-width: 40rem;
	margin: 0 auto;
}

.day-of__description {
	padding-top: 1.8rem;
	padding-bottom: 0.4rem;
}

.day-of__temp {
	
}

.day-of__high {

}

.day-of__low {

}