/*================================
=            Location            =
================================*/


.location-meta {
	display: none;
	width: 100%;
	position: absolute;
	top: 2.4rem;	
	left: 0;
	color: rgba(#000, 0.6);
	z-index: 10;
	padding-left: 2.4rem;

	@include breakpoint(430px) {
		top: 2.4rem;	
		bottom: auto;
		display: block;
	}

	@media (min-width: 1320px) and (min-height: 670px) {
		display: block;
		bottom: 2.4rem;
		top: auto;
	}

}

.location-meta__location {
	background: url('../images/location.svg') left center no-repeat;
	background-size: auto 2.4rem;
	padding-left: 2.2rem;
	line-height: 2.5rem;
	display: inline-block;
	width: auto;
}

.location-meta__time {
	display: inline-block;	
	width: auto;
	padding-left: 1.8rem;
}

.location-meta__calendar {
	@include font-size(14px);

	background: url('../images/calendar.svg') top left no-repeat;
	background-size: auto 2.4rem;	
	height: 2.4rem;
	width: 2.4rem;
	display: inline-block;
    text-align: center;
    padding-top: 0.1rem;	
}

.app-top--is-night {

	& ~ .location-meta {
		color: #fff;

		@include breakpoint(430px) {
			color: #fff;
		}

		@media (min-width: 1320px) and (min-height: 670px) {
			color: rgba(#000, 0.6);
		}		
	}

	& ~ .location-meta .location-meta__calendar {
		background: url('../images/calendar-white.svg') top left no-repeat;	

		@include breakpoint(430px) {
			background: url('../images/calendar-white.svg') top left no-repeat;	
		}

		@media (min-width: 1320px) and (min-height: 670px) {
			background: url('../images/calendar.svg') top left no-repeat;	
		}		
	}

	& ~ .location-meta .location-meta__location {
		background: url('../images/location-white.svg') top left no-repeat;	

		@include breakpoint(430px) {
			background: url('../images/location-white.svg') top left no-repeat;	
		}

		@media (min-width: 1320px) and (min-height: 670px) {
			background: url('../images/location.svg') top left no-repeat;	
		}	
	}	
}