/*================================
=            Week Day            =
================================*/

.week-wrap {
	text-align: center;
	//padding-top: 4.6rem;
	transform: scale(0.8);

	@include breakpoint(540px, min-height) {
		transform: scale(1);		
	}
}

.week-day {
	text-align: center;
	display: inline-block;
	padding-right: 3.2rem;
	padding-left: 3.2rem;
	padding-bottom: 3.7rem;
	transform: translateY(20px);
	opacity: 0;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.68,-0.55, 0.43, 1.46);

	&:last-of-type {
		margin-right: 0;
		padding-bottom: 0;
	}

	@media (min-height: 450px) and (min-width: 650px) {
		padding-bottom: 0;
	}

	&:nth-child(1) { transition-delay: 0s; }	
	&:nth-child(2) { transition-delay: 0.05s; }	
	&:nth-child(3) { transition-delay: 0.1s; }	
	&:nth-child(4) { transition-delay: 0.15s; }	
	&:nth-child(5) { transition-delay: 0.2s; }	

	&.loaded {
		opacity: 1;
		transform: translateY(0);
	}

}

.week-day__day {
	text-transform: uppercase;
}

.week-day__icon {
	transform: scale(1.8);
	margin-top: 2.1rem;
	margin-bottom: 1.3rem;
}

.week-day__temp {
	@include font-size(22px);

	text-transform: uppercase;
	font-weight: 700;
}