/*================================
=            Week Day            =
================================*/

.week-wrap {
	text-align: center;
	//padding-top: 4.6rem;
	transform: scale(0.8);

	@include breakpoint(540px, min-height) {
		transform: scale(1);		
	}
}

.week-day {
	text-align: center;
	display: inline-block;
	padding-right: 3.2rem;
	padding-left: 3.2rem;
	padding-bottom: 3.7rem;
	transform: translateY(20px);
	opacity: 0;
	animation-name: up;
	animation-duration: 0.3s; 
	animation-timing-function: cubic-bezier(0.68,-0.55, 0.43, 1.46); 
	animation-delay: 0;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: both;

	&:last-of-type {
		margin-right: 0;
		padding-bottom: 0;
	}

	@media (min-height: 450px) and (min-width: 650px) {
		padding-bottom: 0;
	}

	&:nth-child(1) { animation-delay: 0.5s; }	
	&:nth-child(2) { animation-delay: 0.55s; }	
	&:nth-child(3) { animation-delay: 0.6s; }	
	&:nth-child(4) { animation-delay: 0.65s; }	
	&:nth-child(5) { animation-delay: 0.7s; }	

}

@keyframes up {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.week-day__day {
	text-transform: uppercase;
}

.week-day__icon {
	transform: scale(1.8);
	margin-top: 2.1rem;
	margin-bottom: 1.3rem;
}

.week-day__temp {
	@include font-size(22px);

	text-transform: uppercase;
	font-weight: 700;
}